.listitem {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.infoblock {
  margin-top: 8px;
  width: 100%;
}

.title {
  font-size: 1em;
  margin: 0;
}

.subInfoWrapper {
  margin-top: 4px;
}

.buttonListWrapper {
  margin-top: 16px;
}
