.previewLink {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #38cbd0;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  transition: background 0.2s;
}

.previewLink:hover {
  background-color: #28a7ac;
}
