.listitem {
  display: flex;
  padding: 32px 0;
}

.listitem + .listitem {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.thumbnail {
  flex-shrink: 0;
  margin-right: 24px;
}

.thumbnail img {
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.rightblock {
  width: 100%;
}

.title {
  margin-bottom: 8px;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.subInfo {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  margin-top: 16px;
}

.subInfo p + p {
  margin-left: 16px;
}

.previewLinkbox {
  margin-top: 16px;
}

.previewLink {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #38cbd0;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  transition: background 0.2s;
}

.previewLink:hover {
  background-color: #28a7ac;
}
