.searchform {
  display: flex;
  width: 100%;
}

.input {
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  border-radius: 8px 0 0 8px;
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 12px;
  outline: none;
  transition: border 0.2s;
  width: 100%;
}

.input:focus {
  border-color: #38cbd0;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #38cbd0;
  border: none;
  border-radius: 0 8px 8px 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  flex-shrink: 0;
  padding: 8px 16px;
  min-width: 80px;
  cursor: pointer;
  transition: background 0.2s;
}

.button:hover {
  background-color: #28a7ac;
}
